.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item img {
    max-width: 200px;
    border: 4px solid black;
}

.video-item.item span {
   padding-left: 20px;
}